<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zvavzny-e@cebgntbavfg.pb.hx</string>
	<key>contactName</key>
	<string>Ben Jennings</string>
	<key>description</key>
	<string>minimal-r

01-04-2013

a very minimal theme, with Reeder influences</string>
	<key>name</key>
	<string>minimal-r</string>
	<key>uuid</key>
	<string>9BF63A15-0F39-4E80-9E88-25714C72C39B</string>
</dict>
</plist>
